* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 780px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-div {
  position: relative;
  margin: 0px auto;
  margin-top: 70px;
  padding: 0px 70px;
  padding-top: 53px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
  opacity: 0.8;
  border-radius: 16px;
}

.search-input {
  padding: 20px 0px;
  width: 100%;
  border: none;
  border: 1px solid black;
  border-radius: 16px;
}

.search-input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: black;
  opacity: 0.3;
}

input[type="text"] {
  opacity: 0.8;
  padding-left: 40px;
  color: black;
  font-size: 26px;
  font-weight: 100;
}

.search-icon {
  padding: 10px 12px;
  padding-bottom: 8px;
  position: absolute;
  top: 60px;
  right: 85px;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-icon-image {
  text-align: center;
}

.form input:focus + .search-icon path {
  fill: blue;
}

.search-icon path:hover {
  fill: blue;
}

.weather-list > p,
h2 {
  opacity: 0.8;
  color: black;
  padding-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
}

.weather-list > h2 {
  font-weight: 400;
}

.location {
  padding-top: 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.deegre {
  padding-top: 20px;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
}

.cloudy {
  opacity: 0.8;
  font-weight: 250;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
  padding-left: 10px;
  font-family: "Poppins";
  font-style: normal;
}

.humidity,
.wind-speed {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.cloudy-div {
  display: flex;
  padding-left: 30px;
}

.image {
  display: none;
  margin-top: 10px;
}

.socials {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.socials > a {
  position: relative;
  margin-left: 10px;
  padding: 10px 12px;
  background-color: #5151d7;
  border: 1.5px solid #5151d7;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.socials > a:hover {
  background-color: #fff;
}

.socials > a:hover path {
  fill: #5151d7;
}
.error-shows {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
  opacity: 0.8;
}

.none {
  display: none;
}

@media screen and (max-width: 575px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .main-div {
    margin-top: 50px;
    padding: 0px 50px;
    padding-top: 53px;
    background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
    opacity: 0.8;
    border-radius: 16px;
  }

  .form {
    display: flex;
    justify-content: center;
  }

  .search-input {
    padding: 20px 0px;
    width: 90%;
    border: none;
    border: 1px solid black;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
  }

  .search-icon {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 420px) {
  .search-icon {
    display: none;
  }
}
